@model EntityLayer.Concrete.Project
@{
    ViewData["Title"] = "ProjectEdit";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h3>Update your project</h3>


@using (Html.BeginForm("ProjectEdit", "Project", FormMethod.Post))
{

    @Html.Label("Name")
    @Html.TextBoxFor(x=>x.ProjectName, new{ @class="form-control"})

    <br />
    @Html.Label("Description")
    @Html.TextAreaFor(x=>x.ProjectDescription,10,15, new{ @class="form-control"})

    <br />
    @Html.Label("Image")
    @Html.TextBoxFor(x=>x.ProjectImage, new{ @class="form-control"})

    <br />

    @Html.Label("Image-2")
    @Html.TextBoxFor(x=>x.ProjectImage2, new{ @class="form-control"})

    <br />

    @Html.Label("Image-3")
    @Html.TextBoxFor(x=>x.ProjectImage3, new{ @class="form-control"})

    <br />
    @Html.Label("Image-4")
    @Html.TextBoxFor(x=>x.ProjectImage4, new{ @class="form-control"})

    <br />

    @Html.Label("Blog Content")
    @Html.TextAreaFor(x=>x.ProjectContenct,10,15, new{ @class="form-control"})


    <button class="btn btn-success">Update</button>
}