@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<br />
<br />

<h3>Edit Blog</h3>
<br />
<br />


@using (Html.BeginForm("EditBlog", "Blog", FormMethod.Post))
{


    @Html.Label("Blog Name")
    @Html.TextBoxFor(x=>x.BlogName, new{ @class="form-control"})
    @Html.ValidationMessageFor(x=>x.BlogName)

    <br />
    <br />



    @Html.Label("Blog Category")
    @Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.cv, new {@class="form-control"})
    //List<SelectListItem is not working here but IEnumerable works... worth to learn why
   
    <br />
    <br />




    @Html.Label("Blog Image")
    @Html.TextBoxFor(x=>x.BlogImage, new{ @class="form-control"})
    @Html.ValidationMessageFor(x=>x.BlogImage)

     <br />
     <br />

    @Html.Label("Blog Thumbnail")
    @Html.TextBoxFor(x=>x.BlogThumnailImage, new{ @class="form-control"})

    
    <br />
    <br />

      

    @Html.Label("Blog Content")
    @Html.TextAreaFor(x=>x.BlogContent,10,15, new{ @class="form-control"})
    @Html.ValidationMessageFor(x=>x.BlogContent)
   
    <br />
    <br />

    <button class="btn btn-dark">Update</button>
}