@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<br />
<br />
<h3>Add Experience</h3>
<br />


@using (Html.BeginForm("AddExperience", "Resume", FormMethod.Post, new {@class= "col-lg-12}"})){

    @Html.Label("Position")
    @Html.TextBoxFor(n=>n.Position, new {@class="form-control" })

    @Html.Label("Company Name")
    @Html.TextBoxFor(n=>n.CompanyName, new {@class="form-control" })

    @Html.Label("Start Date [MM-yyyy]")
    @Html.TextBoxFor(n=>n.StartDate, new {@class="form-control" })

    @Html.Label("End Date [MM-yyyy]")
    @Html.TextBoxFor(n=>n.EndDate, new {@class="form-control" })

    @Html.Label("Description")
    @Html.TextBoxFor(n=>n.Description, new {@class="form-control" })

    @Html.Label("Gains")
    @Html.TextBoxFor(n=>n.Gain, new {@class="form-control" })

    <button class="btn btn-dark">Update</button>

    <br />
    <br />
}
